
body{
    background-color: aliceblue;
}
    .texto_1{

        color: #ff0000;
    }
    .pt_marilia{
        background-color: #ff0000;
    }
    #luan{
        color: black;
    }
h2{
    color: rgb(255, 0, 170);
}
h3{
    color: #ff0000;
}
h4{
    color:#00FF00 #00FF00;